body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(160, 127, 155);
}


header{
    border: solid grey;
    background-color: rgb(156, 156, 113);
    border: 5px solid black;
}

.icon img{
    width: 150px;
}


.option{
        font-size: 25px;
        font-weight: bold;
        border: 1px solid black ;
        width: 100px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        color: blueviolet;
        background-color: rgb(204, 221, 221);
    }


    li {
        display: inline-block;
        list-style: none;
        margin: 0 1.5m 0 1.5em;
        vertical-align: middle;
        color: black;
        padding: 5px;
    }

    @keyframes colorChange {
        0% {
          color: red; 
        }
        25% {
          color: blue; 
        }
        50% {
          color: rgb(28, 161, 194); 
        }
        75% {
          color: rgb(218, 9, 172); 
        }
        100% {
          color: red; 
        }
      }

    .title h1{
        border: 2px solid black;
        padding: 10px;
        animation: colorChange 5s infinite;
        background-color: black;
    }

    /* Css Anime */
    
    .Animes li>h1{
        border: 1px solid black;
        font-weight: bold;
        
    }

     .buscar {
     margin-top: 50px;
     color: rebeccapurple;
     font-weight: bold ;
     margin-left: 20px;
     border: 2px solid black;
     padding: 10px;
     display: inline-block;
     text-align: center;
    }

    .buscar label{
        color: rgb(233, 22, 22);
        text-align: center;
        padding: 2px;
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }

    .buscar input{
        width: 170px;
        height: 20px;
    }

    .buscar button{
        font-weight: bold;
        height: 30px;
    }


    
    .info{
        border: 2px solid black;
        background-color: rgb(243, 177, 229);
        padding: 20px;
        font-weight: bold;
        font-size: large;
        text-align: left;
        display: flex;
    }

    .info div{
        border: 1px solid black;
        padding: 10px;
    }
     h1{
        
        
        text-align: center;
        border: 2px solid black;
        animation: colorChange 5s infinite;
        font-weight: bold;
        padding: 5px;
        background-color: black;
        
    }

    .info span{
        color: black;
    }   

    .info h2{
        text-align: left;
    }
    .info h2> label{
    animation-name: colorChange;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    }

    .info p>label{
    animation-name: colorChange;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    font-size: large;
    }

    .Image{
        text-align: right;
        display: flex;
    }
    

